<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <p class="text text-center" style="font-size: 4em; margin-bottom: 10px">הרשמה</p>
        </div>
    </div>

    <div class="container">
        <form method="post">
            <div class="form-group row flex-column-reverse flex-md-row">
                <div class="col-sm-9">
                  <input type="text" name="username" class="form-control" id="usr">
                </div>
                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="usr">:משתמש</label>
              </div>
            <div class="form-group row flex-column-reverse flex-md-row">
                <div class="col-sm-9">
                  <input type="password" name="password" class="form-control" id="pwd">
                </div>
                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="pwd">:סיסמא</label>
            </div>
            <div class="form-group row flex-column-reverse flex-md-row">
                <div class="col-sm-9">
                  <input type="password" name="password_verify" class="form-control" id="repwd">
                </div>
                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="pwd">:אמת סיסמא</label>
            </div>
            <div class="form-group row flex-column-reverse flex-md-row">
                <div class="col-sm-9">
                  <input type="text" name="edu_name" class="form-control" id="edu">
                </div>
                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="data">:שם באדיו</label>
              </div>

            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button type="submit" role="button" aria-pressed="true" class="text btn btn-lg btn-outline-primary text-center">הירשם</a>
                </div>
            </div>
        </form>
    </div>
</div>