<!DOCTYPE html>
<html>
<head>
   <title>מכשילים</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--    Bootstrap Files   -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script type="text/javascript" src="functions.js"></script>

<!--    Fonts   -->
<link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

<link rel="stylesheet" href="index.css" type="text/css">
</head>
<body style="background-color: #f2f2f2">

<div class="container" style="width:85%;position: absolute;top: 0px;bottom: 0px;left:0px;right:0px;">
    <div class="row h-100 justify-content-center align-items-center vertical-center flex-column-reverse flex-md-row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="container">
                    <div class="row ">
                        <div class="col-md-12">
                            <p class="text text-center" style="font-size: 4em; margin-bottom: 10px">הרשמה</p>
                        </div>
                    </div>

                    <div class="container">
                        <form method="post">
                            <div class="form-group row flex-column-reverse flex-md-row">
                                <div class="col-sm-9">
                                  <input type="text" name="username" class="form-control" id="usr">
                                </div>
                                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="usr">:משתמש</label>
                              </div>
                            <div class="form-group row flex-column-reverse flex-md-row">
                                <div class="col-sm-9">
                                  <input type="password" name="password" class="form-control" id="pwd">
                                </div>
                                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="pwd">:סיסמא</label>
                            </div>
                            <div class="form-group row flex-column-reverse flex-md-row">
                                <div class="col-sm-9">
                                  <input type="password" name="password_verify" class="form-control" id="repwd">
                                </div>
                                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="pwd">:אמת סיסמא</label>
                            </div>
                            <div class="form-group row flex-column-reverse flex-md-row">
                                <div class="col-sm-9">
                                  <input type="text" name="edu_name" class="form-control" id="edu">
                                </div>
                                <label class="text text-right col-form-label col-sm-3" style="font-size: 23px" for="data">:שם באדיו</label>
                              </div>

                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" role="button" aria-pressed="true" class="text btn btn-lg btn-outline-primary text-center">הירשם</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{{ url_for('static', filename='images/machshilim-logo.png')}}" class="img-fluid" alt="Machshilim Sider">
        </div>

    </div>
</div>

</body>
</html>
